.btn-new-game,.instruction{
    margin: 15px;
}

.home-container{
    margin: 16px 16px 0px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}